header {
    padding: 15px 20px;
}
.index-site {
    text-align: left;
}
#logo {
    width: 10vw;
    max-width: 60px;
}
#course-section {
    justify-content: flex-end;
}
.index-site, #course-section {
    font-size: clamp(0.3em, 3.5vw, 1.2em);
}